<br><br><br><br><br>
<div class="title">
  <h2>My Gallery</h2>
</div>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card class="card-picture" *ngFor="let picture of pictures" (click)="display(picture.img, picture.id)">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">{{picture.title}}</span>
      <mat-icon fxFlex="10%">mode_edit</mat-icon>
      <mat-icon fxFlex="10%">delete</mat-icon>
      <mat-icon fxFlex="10%">save_alt</mat-icon>
      <mat-icon fxFlex="10%">visibility</mat-icon>
      <mat-icon fxFlex="10%">visibility_off</mat-icon>
    </mat-card-title>
    <br>
    <app-img-wrapper [src]="picture.img"></app-img-wrapper>
    <br>
    <mat-card>Liked by {{picture.likedBy.length}} users</mat-card>
  </mat-card>
</div>
