<br><br><br><br><br>

<div *ngIf="currentFileUpload" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped"
       role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
       aria-valuemin="0" aria-valuemax="100"
       [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%</div>
</div>

<form class="upload-form" [formGroup]="myForm" (ngSubmit)="upload(myForm.value)">

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="input-picture-name">Picture Name</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [formControl]="myForm.controls['inputPictureName']">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="input-picture-comment">Picture Comment</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [formControl]="myForm.controls['inputPictureComment']">
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="input-picture-shared">Share To Followers</span>
    </div>
    <label class="switch">
      <input type="checkbox" [formControl]="myForm.controls['inputPictureToggle']">
      <span class="slider round"></span>
    </label>  </div>

  <div class="custom-file">
    <input type="file" (change)="selectFile($event)" [formControl]="myForm.controls['inputFile']">
  </div>

  <button class="btn btn-success" [disabled]="!selectedFiles" type="submit">Upload</button>
</form>
